{% extends 'base.html'%}

{%block content%}

    <h1>Update Your Blog</h1>
    <form action="{%url 'update' blog.id%}" method="post">
        {%csrf_token%}
        <!--edit 함수를 통해 수정될부분 받아와야함-->
        제목: <input type="text" name="title" value="{{blog.title}}"> <br>
        작성자: <input type="text" name="writer" value="{{blog.writer}}"> <br>
        본문: <textarea name="body" id="" cols="30" rows="10">"{{blog.body}}"</textarea> <br>
        <button type="submit">submit</button>
    </form>
    
{%endblock%}